*{
    font-family: sans-serif;
    font-size: large;
}
input {
    padding: 0.8rem;
    margin: 0.8rem;
    border-radius: 2rem;
   border: none;
    width: 21vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    height: 6vh;
    
    margin-right: 20px;
}

.search img {
    height: 1.5rem;
    margin: 0.8rem;
    margin-top: 1rem;
    border-radius: 50%;
    cursor: pointer;
    max-width: 100%;
   
    padding: 0.8rem;
    background: white;
}


nav {
    display: flex;
}

.city {
    display: grid;
}

.city-details {
    display: grid;
   
    gap: 0.3vh;
    
    margin-top: 0.5vh;
    justify-content:center;
    
    
}

.container {
    height: 90vh;
    width: 30vw;
   border-radius: 22px;
    background:linear-gradient(to bottom,aquamarine,rgb(42, 181, 227));
margin: auto;
margin-top: 5vh;
}
.main-container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}
@media all and (max-width: 1000px) {
    .container {
        width: 80vw;
    }
    .city-details {
        display: grid;
        gap: 1.3vh;
        justify-content: center;
    }
    .main-container {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    input{
        width: 40vw;
    }
}
.body{
    display: non;
}
body{
    background-color: black;
}

*{
    font-family: sans-serif;
}
.city-name{
    font: 2em sans-serif;
}
.city-icon{
    height: 10vh;
}